# Virtual Environments
*-env/
venv/
.venv/
env/
.env

# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
build/

# Jac/Jaseci Caches
.jac_cache/
.jaseci/
.jac

# Project Specific
reports/
chats-history/

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
